<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mastodon Digest</title>
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="icon" href="icon.png">

  </head>

  <body>

    <div id="container">
      <main class="blocks">

        <header class="header">

          <h1 class="title">Mastodon Digest</h1>

          <div class="run_time date" data-date="{{ rendered_at }}" aria-label="Digest generated time"></div>
          <div class="run_score" aria-label="Digest parameters">
            <div><span class="meta_desc">for the past</span><span class="meta_data">{{ hours }} hours</span></div>
            <div><span class="meta_data">{{ scorer.lower() }}</span><span class="meta_desc">scorer</span></div>
            <div><span class="meta_data">{{ threshold }}</span><span class="meta_desc">threshold</span></div>
          </div>
          
        </header>

        <section class="stream">
          <h2 class="stream_title"><span>Posts</span></h2>
          <div class="posts" role="feed" aria-label="Popular posts from your timeline">
            {% with posts=posts %}
            {% include "posts.html.jinja" %}
            {% endwith %}
          </div>
        </section>

        <section class="stream">
          <h2 class="stream_title"><span>Boosts</span></h2>
          <div class="posts" role="feed" aria-label="Popular boosts from your timeline">
            {% with posts=boosts %}
            {% include "posts.html.jinja" %}
            {% endwith %}
          </div>
        </section>

      </main>
      
    </div>
    
    <script type='text/javascript' src="style.js"></script>
  </body>

</html>
