{% for post in posts %}

<article class="post" role="article">

  <div class="status">  
  
    <div class="post_header">

        <div class="user" role="group" aria-label="Post author">

          <div class="avatar">
            <a target="_blank" href="{{ post['account_url'] }}" rel="noopener">
              <img src="{{ post['account_avatar'] }}" alt="{{ post['display_name'] }} avatar">
            </a>
          </div>
        
          <a target="_blank" href="{{ post['account_url'] }}" rel="noopener">
            <span class="displayname">{{ post['display_name'] }}</span>
            <span class="username">@{{ post['username'] }}</span>
          </a>

        </div>

        <nav class="links" aria-label="Post links">
          {{ post['home_link'] }}
          {{ post['original_link'] }}
        </nav>

    </div>
      
    <div class="post_content">

      <div class="content">
	      {{ post['content'] }}
      </div>

     {% if post['media'] %}
        <div class="medias">
	        {{ post['media'] }}
        </div>
     {% endif %}

    </div>

    <div class="post_footer">

      <div class="published date" data-date="{{ post['created_at'] }}"></div>
      
      <div class="reactions" role="group" aria-label="Post engagement metrics">
        <span aria-label="{{post['replies_count']}} replies">⥄ {{post['replies_count']}}</span>
        <span aria-label="{{post['reblogs_count']}} boosts"> ↻ {{post['reblogs_count']}}</span>
        <span aria-label="{{post['favourites_count']}} favorites">★ {{post['favourites_count']}}</span>
      </div>
      
    </div>
    
  </div>

</article>

{% endfor %}
